snippet #!
	#!/usr/bin/python

snippet header
	#
	# -*- coding: utf-8 -*-
	#
	# Program:      ${1:`Filename('', 'filename')`}
	# Author:       ${2:`g:snips_author`}
	# Date:         `system("date '+%b\\ %d\\ %Y' | tr -d '\\n'")`
	#

snippet section
	# -----------------------------------------------------------------------------
	# ${1:Section}
	# -----------------------------------------------------------------------------


